
.placer{
	height : 60px;
	width : 60px;
	opacity: 0.5;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left:5px;
	margin-right:5px;
}
.placer:hover{
	background-color: black;
	border-radius : 30px;

}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    display: block;
}

.form input{
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0px 0px 4px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

#game {
    display: none;
}


#board{
	display: inline-block;
	float: right;
	margin-right: 50px;
}
.column{
	display: inline-block;
}

.cell{
	height : 60px;
	width: 60px;
	border-style: solid;
	border-width : 2px;
	border-color : black;
	background-color : cyan;
	border-radius:30px;
	margin:5px;
}


.button{
	display: inline-block;
	font-size: 130%;
	text-align : center;
	margin-right: 20px;
	margin-left: 10px;
	padding: 10px;
	border-radius : 5px;
   
}

.button:hover{
	background-color : black;
	color : white;

}

.button:active{
	vertical-align: top;
	padding: 9px 9px 9px;
}

#logo{
	font-weight:bold;
	font-size: 200%;
	margin-top: 10px;
	margin-bottom: 30px;
	width:400px;
	height:auto;
	

}

html{
	background-color:#eff0f2;
}

body{
	background-color:white;
	margin: 75px;
	margin-top: 10px;
	padding: 10px;
	min-height: 125vh;
	border-style :solid;
	border-width : 1px;
	font-family:arial;
	margin-bottom : 0px;
}

#box1{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 260px;
	height:auto;
	background: #E2E2E2;
	padding: 20px;
	display: none;
	text-align: justify;
	border-style :solid;
	border-width : 1px;
}

#box2{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 260px;
	height:auto;
	background: #E2E2E2;
	padding: 20px;
	display: none;
	border-style :solid;
	border-width : 1px;
}

#giveUp{
	float: left;
	margin-top: 60px;
	margin-right: 50px;
	padding: 10px;
	background-color: gray;
	color: black;
	border-radius: 5px;
	border-style :solid;
	border-width : 1px;
	display:none;
	
}

#giveUp:hover{
	background-color: black;
	color: white;
	
}

#msgBoard{
	padding: 10px;
	background-color: #c6c6c6;
	color: black;
	text-align: center;
	font-size: 18px;
	height : 30px;
	border-radius: 7px;
}

.legenda {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

#settings{
	margin-top: 100px;
	display:inline-block;
}
