
.placer{
	height : 60px;
	width : 60px;
	opacity: 50%;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left:5px;
	margin-right:5px;
}
.placer:hover{
	background-color: black;
	border-radius : 30px;

}
#board{
	display: inline;
	float: right;
	margin-right: 50px;
}
.column{
	display: inline-block;
}

.cell{
	height : 60px;
	width: 60px;
	border-style: solid;
	border-width : 2px;
	border-color : black;
	background-color : cyan;
	border-radius:30px;
	margin:5px;
}


.button{
	display: inline-block;
	font-size: 130%;
	text-align : center;
	margin-right: 20px;
	margin-left: 10px;
	padding: 10px;
	border-radius : 5px;
   
}

.button:hover{
	background-color : black;
	color : white;

}

.button:active{
	vertical-align: top;
	padding: 9px 9px 9px;
}

#logo{
	font-weight:bold;
	font-size: 200%;
	margin-bottom: 50px;

}

html{
	background-color:#eff0f2;
}

body{
	background-color:white;
	margin: 75px;
	margin-top: 10px;
	padding: 10px;
	min-height: 100vh;
	border-style :solid;
	border-width : 1px;
   
}

#box1{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 260px;
	height:300px;
	background: #E2E2E2;
	padding: 20px;
	display: none;
}

#box2{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 400px;
	height:100px;
	background: #E2E2E2;
	padding: 20px;
	display: none;
}
.legenda {
	padding: 12px 12px 12px 0;
	display: inline-block;
}
#settings{
	margin-top: 100px;
	display:inline-block;
}
